# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.coverage
htmlcov/

# Env / secrets
.env
.env.local
*.pem
*.key

# Terraform
.terraform/
infra/terraform/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Build artefacts
dist/
build/
*.log
